.urlbar-header {
  font-size: 10px;
  font-weight: normal;
  margin: 0;
  padding: 3px 6px;
  color: #666;
}

.urlbar-header > label {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.urlbar-current-input > label {
  margin: 2px 0 !important;
}

.urlbar-input-value {
  color: black;
}

.urlbar-one-offs {
  margin: 0 0 !important;
}

.urlbar-engine-one-off-item {
  -moz-appearance: none;
  display: inline-block;
  border: none;
  min-width: 48px;
  height: 32px;
  margin: 0 0;
  padding: 0 0;
}

.urlbar-engine-one-off-item:not(.dummy) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAYAAAABxvaqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gofECQNNVW2/AAAABBJREFUGFdjOHPmzH8GehEA/KpKg9YTf4AAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: right center;
}

.urlbar-engine-one-off-item:not(.last-row) {
  box-sizing: content-box;
  border-bottom: 1px solid #ccc;
}

.urlbar-engine-one-off-item.last-of-row {
  background-image: none;
}

.urlbar-engine-one-off-item[selected] {
  background-color: Highlight;
  background-image: none;
}

.urlbar-engine-one-off-item > .button-box > .button-text {
  display: none;
}

.urlbar-engine-one-off-item > .button-box > .button-icon {
  -moz-margin-start: 0;
  width: 16px;
  height: 16px;
}

#urlbar-search-settings2 {
  list-style-image: url("./gear.svg#gear");
  background-position: left center;
  border-bottom: none;
}

#urlbar-search-settings2:hover {
  list-style-image: url("./gear.svg#gear-inverted");
  background-color: Highlight;
}

#urlbar-search-footer2 {
  border-top: 1px solid hsla(210, 4%, 10%, 0.14);
  background-color: hsla(210, 4%, 10%, 0.07);
}
